<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Cadastro de Visitante</title>
  <link rel="stylesheet" href="/style.css" />

</head>
<body>
  <h1>Cadastro de Visitante</h1>
  <form action="/cadastro" method="POST" class="form-centralizado">

    

    <label>Nome: <input type="text" name="nome" required></label><br>
    <label>CPF: <input type="text" name="cpf" required></label><br>
    <label>Data e Hora: <input type="datetime-local" name="data_hora" required></label><br>
    <label>Apartamento: <input type="text" name="apartamento" required></label><br>
    <label>Motivo: <input type="text" name="motivo" required></label><br>
    <label>Tipo: 
      <select name="tipo" required>
        <option value="morador">Morador</option>
        <option value="visitante">Visitante</option>
        <option value="prestador">Prestador de Serviço</option>
      </select>
    </label><br>
    <button type="submit" class="btn">Registrar</button>
    

  </form>
  <p><a href="/painel">Voltar para o painel</a></p>
</body>
</html>
