<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Login Porteiro</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <h1>Login Porteiro</h1>
  <form method="POST" action="/login">
    <label>Usuário: <input type="text" name="usuario" class="input-field" required>
    <label>Senha: <input type="password" name="senha" class="input-field" required>
    <button type="submit" class="btn btn-center">Entrar</button>
  </form>
</body>
</html>
